<!DOCTYPE html>
<script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
<script type="text/javascript"></script>
<script src="/javascripts/page_event.js"></script>

<html>

<head>
    <title>Work CMS</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/hover.css' />
</head>

<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid BCMS-top-bar ">
            <div class="nav-funcation-bar"><i class="fa fa-bars"></i></div>
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Blender</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <form class="navbar-form navbar-right">
                    <label class="icon-color" for="search-input"><i class="fa fa-search"></i></label>
                    <input type="text" class="form-control" placeholder="Search...">
                    <a class="user-icon"><img src="images/user.jpg" alt="Generic placeholder thumbnail"></a>
                </form>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">Dashboard</a></li>
                    <li><a href="#">Settings</a></li>
                    <li><a href="#">Profile</a></li>
                    <li><a href="#">Help</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container-fluid">
        <h1>Ｗork CMS</h1>
        <p>Welcome to Demo For Work CMS for HackHackathon 16th</p>
        <div class="row">
            <div class="main">
                <h1 class="page-header">Project:Blender->Model</h1>
                <div class="row placeholders">
                    <div class="col-xs-6 col-sm-3 placeholder">
                        <div class="img_outer">

                        <img src="http://cdn.portableapps.com/BlenderPortable.png" class="img-responsive" alt="Generic placeholder thumbnail">
                        </div>
                        <h4>Blender Portable 2.76 (3D modeling, animation, rendering) Released</h4>
                        <a href='http://portableapps.com/news/2015-10-14--blender-portable-2.76-released' target="_blank">
                            <span class="text-muted">http://portableapps.com/news/2015-10-14--blender-portable-2.76-released</span>
                        </a>
                    </div>
                    <div class="col-xs-6 col-sm-3 placeholder">
                        <div class="img_outer">

                           <img src="https://cloudapi.blender.org/storage/file/82/8207c38337ccd7786fea9009f1e84fcb-l.jpg" class="img-responsive" alt="Generic placeholder thumbnail">
                        </div>
                        <h4>Master character modeler Angela Guenette teaches how to make a perfect character model for animation.</h4>
                        <a href='https://cloud.blender.org/p/blenderella/' target="_blank">
                            <span class="text-muted">https://cloud.blender.org/p/blenderella/</span>
                        </a>
                    </div>
                    <div class="col-xs-6 col-sm-3 placeholder">
                        <div class="img_outer">
                            <img src="https://i.ytimg.com/vi/0QT1GNMevfc/maxresdefault.jpg" class="img-responsive" alt="Generic placeholder thumbnail">
                        </div>
                        <h4>Blender Character Modeling 1 of 10</h4>
                        <a href='https://www.youtube.com/watch?v=0QT1GNMevfc' target="_blank">
                            <span class="text-muted">https://www.youtube.com/watch?v=0QT1GNMevfc</span>
                        </a>
                    </div>
                    <div class="col-xs-6 col-sm-3 placeholder">
                        <div class="img_outer">

                        <img src="http://assets.digitaltutors.com/dtv_/bison_courses/1692/assets/1692-render_1040.jpg" class="img-responsive" alt="Generic placeholder thumbnail">
                        </div>
                        <h4>Introduction to Modeling in Blender</h4>
                        <a href='http://www.digitaltutors.com/tutorial/1692-Introduction-to-Modeling-in-Blender' target="_blank">
                            <span class="text-muted">http://www.digitaltutors.com/tutorial/1692-Introduction-to-Modeling-in-Blender</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>